:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --bg: #e8f8ff;
    --surface: #ffffff;
    --surface-alt: hsl(214, 100%, 79%);
    --border: #0c59ff;
    --text: #000000;
    --text-muted: #636363;
    --accent: #0c59ff;
    --hover: #dae6ff;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--bg);
    color: var(--text);
}

h1, h2, h3, h4 {
    line-height: 1.2;
}

button {
    font-family: inherit;
}

input {
    font-family: inherit;
}

